<!DOCTYPE html>
<html>
<header>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css" />
</header>

<body>
    <div class="main-content">
        {{>header}}
        <p>Ce site a été crée par Guillaume EL HADI. Il utilise les données provenant de mapbox.com et darksky.net</p>
        <img class="portrait" src="/img/robot.png" />
    </div>
    {{>footer}}
</body>

</html>